body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#quiz-container {
    align-items: center;
}

.quiz-container {
    background-color: rgb(0, 0, 0, .4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem 3rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin: auto;
    min-height: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}

.question-container {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

}

.category {
    width: 100%;
    padding-left: 10rem;
    margin: 5rem 0px;
    box-sizing: border-box;
}

.category_info {
    background-color: rgb(255, 255, 255, .4);
    width: 35%;
    padding: 0.5rem 1rem;
    border-bottom: 5pt solid white;
    font-size: 25px;
    font-weight: bold;
}

#category,
#selected-difficulty {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-transform: uppercase;

}


.choice {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 22pt;

}

.choice:hover {
    cursor: pointer;
}

.result {
    font-weight: bold;
    margin-top: 10px;
}

.quiz-page__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top__content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.left__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories__section {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: .5;
}

.video-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

.question-container {
    display: flex;
    justify-content: center;
}


.line {
    width: 52%;
    height: 5px;
    margin-top: 1em;
    background-color: white;
    border: none;
}

.results-container{
    display: flex;
    flex-direction: row;
}

.results-header{
width: 40%;
display: flex;
flex-direction: column;
gap: 1rem;
}

.results-header > h2{
    font-size: 25pt;
    font-family: Arial, Helvetica, sans-serif;
}

.results-header > p{
    font-size: 17pt;
    font-family: 'Courier New', Courier, monospace;
}

.results-description{
    width: 60%;
}

.results-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.results-buttons > button{
    background: none;
    border: none;
    color: white;
font-size: 12pt;
}

#question-results{
    list-style-type: none;
}

/**--------------------- Footer ---------------------**/

footer {
    margin-top: 200px;
    width: 100%;
    min-height: 100px;
    background-color: rgba(68, 68, 68, 0.3);
}

.footer_container {
    display: flex;
    align-items: center;
    min-height: 11rem;
    background: none;
    padding: 2rem;
}

.logo_container {
    display: flex;
    align-items: center;
}

.text_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.names_container {
    color: #fff;
    display: flex;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.hr {
    width: 17%;
    height: 1px;
    background-color: var(--white);
    margin: 0 auto;
}

.rights {
    margin-top: 0.2rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.rights_reserved {
    color: #fff;
    font-size: 8px;
}

.brain_picker_logo {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}