:root {
	--primary-font: Arial, Helvetica, sans-serif;
	--secondary-font: 'Courier New', Courier, monospace;
	--font-weight-general: normal;
	--font-weight-light: 100;
	--font-weight-bold: bold;
	--font-size-body: 12pt;
	--font-size-heading: 30pt;
	--font-size-sub-heading: 22pt;

	--white: #fff;
	--black: #000000;
	--crimson: #d44f88;
	--crimson-2: #ea5a99;
	--teal: #5CAFB5;
	--teal-2: #6ad3db;
	--indigo: #603CFB;
	--indigo-2: #7a5cff;
	--purple: #B654FF;
	--purple-2: #c57aff;
}

h1 {
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-bold);
	font-family: var(--primary-font);
}

h2 {
	font-size: var(--font-size-sub-heading);
	font-weight: var(--font-weight-bold);
	font-family: var(--primary-font);
}

h4 {
	font-family: var(--primary-font);
}

p {
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-general);
	font-family: var(--primary-font);
}

* {
	margin: 0;
}

body {
	position: relative;
	min-height: 100vh;
	margin: 0;
	padding-bottom: 100px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
	opacity: .5;
}

.video-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

#category-list {
	position: relative;
	z-index: 1;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	opacity:50%;
	height:40px;
	width:480px;
	margin-top:2em;
	border-radius:10px;
	padding-left:1.5em;
}

.categories_container {
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top:25em;
}

.categories_title {
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	color:var(--white);
	font-size:40px;
}

#difficulty-buttons-container {
	display:flex;
	justify-content:space-between;
	width:400px;
	align-items:center;
	margin:auto;
}

#difficulty-buttons-container button {
	text-transform:uppercase;
	background-color:var(--black);
	border:none;
	border-radius:4px;
	color:var(--white);
	font-family:Arial, Helvetica, sans-serif;
	height:32px;
	max-width:200px;
	width:100px;
	margin-top:1em;
}

#difficulty-buttons-container button:hover {
	cursor:pointer;
	background-color:var(--white);
	color:var(--black);
}

/**--------------------- Footer ---------------------**/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 100px;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .footer_container {
	display: flex;
	align-items: center;
	min-height: 11rem;
	background: none;
	padding: 2rem;
  }
  
  .logo_container {
	display: flex;
	align-items: center;
  }
  
  .text_container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
  }
  
  .names_container {
	color: var(--white);
	display: flex;
	gap: 1rem;
	padding-bottom: 0.5rem;
  }
  
  .hr {
	width: 17%;
	height: 1px;
	background-color: var(--white);
	margin: 0 auto;
  }
  
  .rights {
	margin-top: 0.2rem;
	font-size: 10px;
	display: flex;
	justify-content: center;
  }
  
  .rights_reserved {
	color: var(--white);
	font-size: 8px;
  }
  
  .brain_picker_logo {
	max-width: 100%;
	max-height: 100px;
	object-fit: contain;
  }

  